<!DOCTYPE HTML>
<html>
<head>
<!-- Styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<style>
    body {
    padding-top: 60px; /* When using the navbar-top-fixed */
    }
    .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
    }
    .centercontents {
    text-align: center !important;
    }
    .alignrightcontents {
    text-align: right !important;
    }
    body
    {
    <h3>Current date and time:</h3>
    }
</style>

</head>

<body>

Current date and time: <%= Time.now %>
<br>

<table border="1" style="width:50%">
 <caption>Manager's Information</caption>
 <tr><th>First Name</th><th>Last Name</th><th>Phone</th><th>Email</th></tr>
  <% @accounts1.each do |account| %>
      <tr>
        <td><%= account.FirstName %></td>
        <td><%= account.LastName %></td>
        <td><%= account.MobilePhone %></td>
        <td><%= account.Email %></td>
      </tr>
<% end %>
</table>  

<table border="1" style="width:20%">
  <caption>Cork</caption>
  <tr><th>Avaiable for tasks</th></tr>
  <% @accounts2.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>

<table border="1" style="width:20%">
  <caption>Bangalore</caption>
  <tr><th>Avaiable for tasks</th></tr>
  <% @accounts3.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>

<table border="1" style="width:20%">
  <caption>Broomfield</caption>
  <tr><th>Avaiable for tasks</th></tr>
  <% @accounts4.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>

<!-- jQuery via Google + local fallback, see h5bp.com -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
