<!DOCTYPE HTML>
<html>
<head>
<!-- Styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.css" rel="stylesheet">

<link href="/css/styles.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
 <div class = "navbar-inverse navbar-static-top">
				<div class = "container">

			</div>
			</div>


<table id = "man" border="1" style="width:50%" >
 <caption>  Manager's Information</caption>
 <tr><th>First Name</th><th>Last Name</th><th>Phone</th><th>Email</th></tr>
  <% @accounts1.each do |account| %>
      <tr>
        <td><%= account.FirstName %></td>
        <td><%= account.LastName %></td>
        <td><%= account.MobilePhone %></td>
        <td><%= account.Email %></td>
      </tr>
<% end %>
</table>  

<div style= "width: 100%">
<div style="float: left;">
<table id ="cork" border="1" style = "width:95%">
  <caption>  Cork</caption>
  <tr><th>Avaiable for SR's</th></tr>
  <% @accounts2.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>
</div>

<div style="float: left;">
<table id="bangalore" border="1" style = "width:95%">
  <caption>Bangalore</caption>
  <tr><th>Avaiable for SR's</th></tr>
  <% @accounts3.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>
</div>
<div style ="float:left;">
<table id ="broomfield" border="1">
  <caption>Broomfield</caption>
  <tr><th>Avaiable for SR's</th></tr>
  <% @accounts4.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>
</div>
</div>



</br></br></br></br></br>
<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <% calendar_for @articles, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calendar.day(:day_method => :published_on) do |date, articles| %>
      <%= date.day %>
      <ul>
        <% for article in articles %>
          <li><%= link_to h(article.name), article %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>


<div class = "navbar navbar-default navbar-fixed-bottom">
			    <div class = "container">
				    <p class ="navbar-text">Copyright &copy; 2015 VMware, Inc. All rights reserved.</p>
				</div>
				
				</div>
				
				
	

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
